# Environment variables
.env

# Python Dependencies
.venv/

# Python cache
__pycache__/
.pytest_cache/
.ruff_cache/
.coverage/

# Template sources
{{cookiecutter.project_slug}}/

# Test results
.test_results/
